/* Imports */
@import "../mixins/mixins";

/* About section */

.about-us {
  @include section;
  flex-wrap: wrap;

  .about-us-text {
    width: 60%;
   margin: 0% auto;
  }

  .about-us-img {
    width: 40%;
    
    // border: black 1px solid;

    img {
      width: 100%;
      margin: auto;
      height: 15rem;
    }
  }

  h2 {
    margin: 3% 0%;
  }

  p {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
}
