* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* flex container *parent element* */
.b1 {
  /* Optional properies for flex container*/
  /*
    flex-direction: ;
    flex-wrap: ;
    flex-flow: ;
    justify-content: ;
    align-items: ;
    align-content: ;
    */
  //---------------------------------------------------------//
  /*  display: flex; */
  //justify-content: space-evenly; /* put content to the: right, center or left of the page or change space between elements *always on the main axis* */

  //align-items: center; /* align items based on height *the element needs a height for it to work* */

  //flex-wrap: wrap; /* add rows when width is smaller than the total width of the elements width.*/

  // cannot have a max-width on child of an element with max-width.

  // use "%" for containers to adobt the free space, use rem/em for elements to hold their size and flex wrap can work on them / use "%" then use wrap and fixed w/h in media queries.

  text-align: center;
  e {
    /* Optional properies for flex item *child of flex* */
    /*
    order: ;
    flex-grow: ;
    flex-shrink: ;
    flex-basis: ;
    align-self: ; // self-align without following the other elements alignment
    //flex item can also be a flex container
    */
    //--------------------------------------------------//
    //order: 2;  /*change order of elements without changing the HTML*/
    //flex-basis: auto;  /*default size "width" before appling "flex-grow" or "flex-shrink" *can be set on container or item* */
    //flex-grow: 2;  /*grow based on flex-basis*/
    //flex-shrink: 2;  /*shrink based on flex-basis*/
    //flex: 1 0 5em; /* flex: flex-grow flex-shrink flex-basis */
    //
    //flex-grow: ;  worked only on small contant 
    //flex-grow works better when flex-basis: 0;
    text-align: center;
  }
}

.container {
  width: 95%;
  max-width: 70em;
  margin: 0% auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  border: 0.1em #46d solid;
  /*height: auto;
   width: 90%;
  margin: auto;*/
}

.d {
  width: 100%;
  /* display: flex;
  justify-content: center;
  align-items: center;
 
  height: 90%;
  //min-height: 20em;

  // margin: 10% auto;*/
  .s10 {
    display: flex;
    //  flex-direction: column;
    justify-content: space-around;
    align-items: center;
    //
    width: 100%;
    height: 90%;
    // margin: 10% auto;

    .y {
      display: flex;
      //  flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      margin: 1%;
      height: 10em;
      .u11 {
        background-color: #46d;
        width: 80%;
        max-width: 7em;
        height: 5em;
        align-self: center;

        //margin: 10% auto;
      }
      .u12 {
        width: 80%;
        max-width: 7em;
        height: 5em;
        align-self: center;
        // margin: 10% auto;
      }
    }

    .x {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 40%;
      height: 40%;
      margin: 1%;
      .u13 {
        width: 20%;
        max-width: 7em;
        height: 5em;
        align-self: center;
        // margin: 10% auto;
      }
      .u14 {
        width: 20%;
        max-width: 7em;
        height: 5em;
        align-self: center;
        // margin: 10% auto;
      }
    }
  }
}
